.d_questions {
  /* max-width: 100%; */
  margin: auto;
  text-align: center;
  padding-left: 2vw;
  /* text-align: start; */
  display: flex;
  /* justify-content: space-around; */
  font-size: 3vw;
  background: linear-gradient(133deg, #3f025c, #210130);
}

.d_questions p {
  /* margin: 1; */
  margin-left: 3vw;
  color: white;
  animation: surgir 1s;
  /* color: red; */
}

.closed {
  margin: 0;
  padding: 1vw;
  color: rgb(255, 255, 255);
}

.open {
  margin: 0;
  padding: 1vw;
  color: rgb(199, 2, 183);
  font-weight: bolder;
}

.icon{
  color: white;
  animation: rodar 1s linear reverse;
}

.icon2{

    color: white;

}

@keyframes rodar{

  from{
    transform: rotate(0deg);
  }

  to{
    transform: rotate(35deg);
  }
  
}


@keyframes surgir {
    from {
        transform: translateY(-10px);
        opacity: 0;
    }

    to{
        transform: translateY(0px);
        opacity: 1;
    }
}

.dd_question {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
  justify-content: start;
}

@media (max-width: 800px) {
    
    .d_questions h3{
        padding-top: 2vw;
        font-size: 3vw;
    }

    .d_questions p{
        font-size: 3vw;
    }
    
}